/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- Buttons  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/

/* --------------------------- Hero Section Button  -----------------------------*/

.btn {
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-family: $font-primary;
  cursor: pointer;
  text-decoration: none;


  &__hero {

    margin-left: 6.7rem;
    margin-top: 2.6rem;
    padding-top: 1rem;
    background-color: $color-orange;
    color: #f3f7fb;
    font-size: 2.4rem;
    width: 32rem;
    height: 4rem;
    box-shadow: $color-shadow-hover;
    border: 1px solid $color-orange;
    border-radius: 4px;

    @media screen and (max-width: $bp-xsmall) {
      margin: 2rem auto 0 auto;
    }
  }
  &__hero {
    &:hover {
      background-color: transparent;
      color: $color-orange;
    }

    &:active {
      box-shadow: $color-shadow-active;
    }

    &:focus {
      outline: none;
      background-color: transparent;
      color: $color-orange;
    }
  }

}
/* --------------------------- Blue Button  -----------------------------*/

.btn {
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-family: $font-primary;
  cursor: pointer;
  text-decoration: none;

  &__blue {
    padding: 1rem 0 1rem 0;
    background-color: $color-backgound;
    width: 17.5rem;
    font-size: 2rem;
    border: 1px solid $color-icon-fill;
    color: $color-icon-fill;
    align-self: center;
    margin-top: auto;
    box-shadow: $color-shadow-active;


    @media screen and (max-width: $bp-xsmall) {
      width: 100%;
    }

    &:hover {
      border: 3px solid $color-icon-fill;
    }

    &:active {
      box-shadow: $color-shadow-active;
    }

    &:focus {
      outline: none;
      border: 3px solid $color-icon-fill;
      color: $color-orange;
      box-shadow: $color-shadow-active-1;
    }

    &-creator {
      margin-top: auto;
      @media screen and (max-width: $bp-xsmall) {
        margin-top: 2rem;
        width: 60%;
      }
    }

    &-login{
      padding: 1rem 6rem;
      margin-left: 0rem !important;

      @media screen and (max-width: $bp-small) {
        margin: 3rem 0rem !important;
      
        }

      @media screen and (max-width: $bp-xsmall) {
        width: 17.5rem;
      }
    }
  }
}

/* --------------------------- Form Button  -----------------------------*/

.btn {
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-family: $font-primary;
  cursor: pointer;
  text-decoration: none;
  &__form {
    width: 38rem;
    color: $color-orange;
    height: 4rem;
    margin-top: auto;

    &:hover {
      border: 3px solid $color-icon-fill;
    }

    &:active {
      box-shadow: $color-shadow-active;
    }

    &:focus {
      outline: none;
      border: 3px solid $color-icon-fill;
      color: $color-orange;
      box-shadow: $color-shadow-active-1;
    }
  }

}
