.btn {
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-family: $font-primary;
  cursor: pointer;

  &__hero {
    background-color: $color-orange;
    color: #f3f7fb;
    font-size: 2.4rem;
    width: 32rem;
    height: 4rem;
    box-shadow: $color-shadow-hover;
    border: 1px solid $color-orange;
    border-radius: 4px;
  }
  &__hero {
    &:hover {
      background-color: transparent;
      color: $color-orange;
    }

    &:active {
      box-shadow: $color-shadow-active;
    }

    &:focus {
      outline: none;
      background-color: transparent;
      color: $color-orange;
    }
  }

  &__profile {
    height: 4rem;
    background-color: $color-backgound;
    width: 17.5rem;
    border: 1px solid $color-icon-fill;
    color: $color-icon-fill;
    align-self: flex-end;
    margin-top: auto;
    box-shadow: $color-shadow-active;

    @media screen and (max-width: $bp-xsmall) {
      width: 100%;
    }

    &:hover {
      border: 3px solid $color-icon-fill;
    }

    &:active {
      box-shadow: $color-shadow-active;
    }

    &:focus {
      outline: none;
      border: 3px solid $color-icon-fill;
      color: $color-orange;
      box-shadow: $color-shadow-active-1;
    }
  }

  &__form {
    width: 38rem;
    color: $color-orange;
    height: 4rem;
    margin-top: auto;

    &:hover {
      border: 3px solid $color-icon-fill;
    }

    &:active {
      box-shadow: $color-shadow-active;
    }

    &:focus {
      outline: none;
      border: 3px solid $color-icon-fill;
      color: $color-orange;
      box-shadow: $color-shadow-active-1;
    }
  }
}
