.active {
  border-bottom: 2px solid $color-orange;
}

.width {
  max-width: 1366px;
  margin: 0 auto 0 auto;
}

.margin {
  margin-top: 5rem !important;
}

.img {
  width: 100%;

  object-fit: cover;
  display: block;
  background-position: center;
}

@keyframes turn {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(90deg);
  }
}
