$font-primary: "helvetica Neue", sans-serif;
$font-heading: "Acumin Pro" serif;

$font-size-copywrite: 0.8rem;
$font-size-nav: 1rem;
$font-size-copy: 2rem;
$font-size-copy-heading: 2.4rem;
$font-size-heading-medium: 3rem;
$font-size-heading: 4.8rem;
$font-size-heading-large: 8rem;

h1 {
  // Logo text
  font-family: $font-heading;
  font-size: $font-size-heading;
  font-weight: 300;
  color: $color-orange;
}

h2 {
  // How it works
  font-family: $font-heading;
  font-size: $font-size-heading-medium;
  font-weight: 400;
  color: $color-grey-text;
}

h3 {
  // heading of copy
  font-family: $font-heading;
  font-size: $font-size-copy-heading;
  font-weight: 400;
  color: $color-grey-text;
}

h4 {
  // Copy in the hero section

  font-family: $font-heading;
  font-size: $font-size-heading-medium;
  font-weight: 300;
  color: $color-white-text;
}

h5 {
  // copy in the footer
  font-family: $font-heading;
  font-size: $font-size-copywrite;
  font-weight: 300;
  color: $color-white-text;
}

p {
  // all main copy
  font-family: $font-primary;
  font-size: $font-size-copy;
  color: $color-grey-text;
}
