// ----------- Colors --------- //
$color-primary: #a5d4e2;
$color-primary-transparent: #a5d4e2ef;
$color-icon-fill: #339cb1;
$color-orange: #fd6328;
$color-pink: #fbd1df;

$color-backgound: #f8f8f8;
$color-white-text: #f3f7fb;

$color-grey-text: #707070;

$color-footer: #2b2b2b;
$color-shadow-large: 0 3rem 6rem rgba(0, 0, 0, 0.16);
$color-shadow-hover: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
$color-shadow-active: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
$color-shadow-active-1: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);

// ----------- Break Points --------- //

$bp-large: 1500px;
$bp-medium: 1000px;
$bp-small: 800px;
$bp-xsmall: 600px;
