/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- Creator Page Section  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/

.creator-page {
  margin-top: 5rem;
  width: 100%;
  height: 800px;
  background-image: url(../images/svg/example-backgroud.svg);
  background-size: cover;
  background-position-x: center;
  z-index: -100;

  @media only screen and (max-width: $bp-medium) {
    height: 1000px
  }
  @media only screen and (max-width: $bp-xsmall) {
    height: 900px
  }

  

  h2 {
    text-align: center;
    font-size: $font-size-heading-large;
    padding-top: 8rem;
  }
  &__info {
    max-width: 1366px;
    display: flex;
    margin: 8rem auto 0 auto;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column-reverse;
      margin: 0rem;
    }
    
    &-text {
      display: flex;
      flex-direction: column;
      margin-left: 3.5rem;
      @media only screen and (max-width: $bp-medium) {
        align-content: center;
      }

      h2{
        color: $color-orange;
        font-size: $font-size-heading-medium;
        text-align: center;
        margin-bottom: 2rem;
        @media only screen and (max-width: $bp-medium) {
          margin-top: 5rem;
        }
      }

      h3{
        color: $color-orange;
        margin-bottom: 2rem;
        text-align: center;
      }
      p{
        font-size: $font-size-copy-heading;
        margin-bottom: 2rem;
        @media only screen and (max-width: $bp-medium) {
          text-align: center;
          margin-bottom: 3rem;
        }
      }

      li {
        font-size: $font-size-copy;
        color: $color-grey-text;
        font-family: $font-primary;
        text-align: left;
        margin-top: 1rem;
        padding-left: 1rem;
        margin-left: 3rem;

        @media only screen and (max-width: $bp-medium) {
          width: 50%;
          margin: 2rem auto;

        }
      }

      li::marker{
        content: url(../images/svg/small-short.svg);

      }

      li:last-child{
        margin-bottom: 3rem;
      }

      a{
        
      }
    }

    &-images {
      width: 100%;
      margin: auto;
      
      img{
        width: 100%;
      }
      
    }
  }
}
