/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- Example Section  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/

.example {
  width: 100%;
  height: 800px;
  background-image: url(../images/svg/example-backgroud.svg);
  background-size: cover;
  background-position-x: center;
  @media only screen and (max-width: $bp-medium) {
    height: 1000px;
  }

  h2 {
    text-align: center;
    font-size: $font-size-heading-large;
    padding-top: 8rem;
    @media only screen and (max-width: $bp-medium) {
      padding-bottom: 6rem;
    }
  }

  &__profile {
    max-width: 936px;
    display: flex;
    margin: 8rem auto 0 auto;
    align-self: flex-end;
    @media only screen and (max-width: $bp-medium) {
      margin: 0 3rem 0 3rem;
    }
    
    &-bio {
      max-width: 480px;
      margin-right: 2rem;
    }

    &-header {
      display: flex;
      border-bottom: 1px solid $color-grey-text;

      img {
        width: 10rem;
        height: 10rem;
        align-self: flex-start;
        border-radius: 50%;
        margin-bottom: 1rem;
      }

      &-name {
        margin-right: 12rem;
      }
    }

    &-statment {
      border-bottom: 1px solid $color-grey-text;
      h3 {
        margin-bottom: 1.5rem;
      }
      p {
        margin-bottom: 1.5rem;
      }
    }
    &-achivement {
      &-header {
        font-size: 2.4rem;
        margin: 1.5rem 0 1.5rem 0;
      }
    }

    &-hero {
      max-width: 683px;
      display: flex;
      flex-direction: column;
      @media only screen and (max-width: $bp-medium) {
        max-width: 45%;
      }

      &-img {
        border: 1px solid $color-grey-text;
        box-shadow: $color-shadow-active;
      }
    }
  }

  @media screen and (max-width: $bp-xsmall) {
    h2 {
      text-align: center;
      font-size: $font-size-heading-large;
      padding-top: 8rem;
    }
    &__profile {
      max-width: 80%;
      display: flex;
      margin: 2rem auto 0 auto;
      flex-direction: column;
      align-self: flex-end;

      &-header {
        img {
          width: 10rem;
          height: 10rem;
          margin-left: auto;
          border-radius: 50%;
          margin-bottom: 1rem;
        }

        &-name {
          margin-right: 0rem;
        }
      }

      &-statment {
        border-bottom: 1px solid $color-grey-text;
        h3 {
          margin-bottom: 1.5rem;
        }
        p {
          margin-bottom: 1.5rem;
        }
      }

      &-achivement {
        border-bottom: 1px solid $color-grey-text;
        margin-bottom: 2rem;

        &-header {
          font-size: 2.4rem;
          margin: 1.5rem 0 1.5rem 0;
        }

        p {
          margin-bottom: 1.5rem;
        }
      }

      &-hero {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0 auto 3rem auto;

        &-img {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
