.example {
  width: 100%;
  height: 746px;
  background-image: url(../images/svg/example-backgroud.svg);
  background-size: cover;
  background-repeat: none;
  background-position-x: center;

  h1 {
    text-align: center;
    font-size: $font-size-heading-large;
    padding-top: 8rem;
  }
  &__profile {
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;

    &-bio {
      max-width: 683px;
    }
    &-header {
    }

    &-picture {
    }
    &-hero {
      max-width: 683px;
    }
  }
}
