/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- Footer Section  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/


.footer {
  margin-top: -2rem;
  height: 30rem;
  background-color: $color-footer;
  color: $color-white-text;
  z-index: 10;
  @media screen and (max-width: $bp-small) {
    height:32rem;
  }


  h1{
    font-family: $font-heading;
    font-size: $font-size-nav;
    font-weight: 300;
    color: $color-white-text;
  }

  &__logo {
    img {
      align-self: center;
    }
  }
  &__items {
    max-height: 20rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2rem;
    @media screen and (max-width: $bp-large) {
      margin: 0 3rem 0 3rem;
    }

    &__contact {
      margin-top: auto;
      margin-bottom: auto;

      &-header {
        text-transform: uppercase;
        margin-bottom: 3.5rem;
      }

      &-link {
        font-size: $font-size-copy;
        text-decoration: none;
        color: inherit;
        &:hover,
        &:active {
          color: $color-orange;
          border-bottom: 1px solid $color-orange;
        }
      }
    }

    &__middle {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-logo {
        margin-bottom: 5rem;
      }

      &-social {
        margin-bottom: 5rem;
        a {
          color: white;
          font-size: 2rem;
          text-decoration: none;

          &:hover {
            color: $color-icon-fill;
            font-size: 2.5rem;
          }

          &.fa-twitter {
            margin: 0 3rem 0 3rem;
          }
        }
      }

      &-copywrite {
        text-align: center;
        &-copy {
          font-size: $font-size-copywrite;
        }
      }
    }

    &__jobs {
      margin-top: auto;
      margin-bottom: auto;
      text-align: end;

      &-header {
        text-transform: uppercase;
        margin-bottom: 3.5rem;
      }
    }
  }
  @media screen and (max-width: $bp-xsmall) {
    margin-top: 0rem;
    height: 32rem;
    background-color: $color-footer;

    &__logo {
      margin: 0 auto;

    }
    &__items {
      display: flex;
      width: 90%;
      height: max-content;

      &__contact {
        max-width: 40%;
        text-align: center;
        margin-top: 13rem;

        &-header {
          text-transform: uppercase;
          margin-bottom: 2.5rem;
          color: $color-orange;
        }
        &-link {
          font-size: $font-size-copy;
          text-decoration: none;
          color: $color-orange;
          &:hover,
          &:active {
            color: $color-orange;
            border-bottom: 1px solid $color-orange;
          }
        }
      }

      &__middle {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-logo {
          margin: 0rem 23rem 3rem 0rem;
          @media screen and (max-width: $bp-fold){
            margin: 2rem 14rem 2rem 0rem;
          }
        }

        &-social {
          margin-bottom: 3rem;
          a {
            color: white;
            font-size: 2rem;
            text-decoration: none;

            &:hover {
              color: $color-icon-fill;
              font-size: 2.5rem;
            }

            &.fa-twitter {
              margin: 0 3rem 0 3rem;
            }
          }
        }

        &-copywrite {
          text-align: center;
          &-copy {
            font-size: $font-size-copywrite;
          }
        }
      }

      &__jobs {
        display: none;
      }
    }
  }
}
