.form {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  &__box {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  input,
  textarea {
    border: 4px solid $color-orange;
    background-color: $color-backgound;
    border-radius: 8px;
    font-size: $font-size-copy;
    font-family: $font-primary;

    &:focus {
      outline: none;
      box-shadow: $color-shadow-active;
      border: 3px solid $color-primary;
    }

    &:focus:invalid {
      border: 3px solid red;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  &__input {
    position: relative;

    &-name,
    &-email {
      height: 5rem;
      width: 35rem;
      color: $color-grey-text;
      padding-left: 3rem;
      margin-bottom: 3rem;
    }
  }

  &__icon {
    height: 2rem;
    position: absolute;
    margin-left: -4rem;
    margin-top: 1.5rem;
  }

  &__text-area {
    margin-left: 13rem;
  }
}
