.hero {
  height: 750px;
  background-image: url(../images/png/hero.png);
  background-size: 1366px;
  background-position: top center;
  position: relative;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 1fr 1fr;

  &__info {
    margin-left: -60px;
    margin-top: 130px;
    height: 654px;
    width: 840px;
    background-image: url(../images/svg/blue-hero.svg);
    background-size: contain;
    background-repeat: none;
    display: flex;
    flex-direction: column;
    // padding-left: 60px;

    img {
      margin-left: 6rem;
      margin-top: 10rem;
      max-width: 52.6rem;
    }

    h4 {
      margin-left: 6rem;
      margin-top: 6rem;
      max-width: 62.2rem;
    }

    button {
      margin-left: 6.7rem;
      margin-top: 2.6rem;
    }
  }
}
