.hero {
  width: 100%;
  height: 750px;
  background-image: url(assets/images/jpg/hero.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;

  img {
  }

  h4 {
  }

  button {
  }
}
