.how {
  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    margin-top: 12rem;
  }

  p {
    max-width: 915px;
    text-align: center;
    margin-top: 3.4rem;
  }

  &__steps {
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(10, 70px);
    grid-column-gap: 1.5rem;
    grid-row-gap: 0rem;

    h3 {
      color: $color-orange;
      text-align: left;
    }
    &-icon {
      width: 10.15rem;
      color: $color-icon-fill;
    }

    p {
      text-align: left;
    }

    &__sign-up {
      grid-row: 2 / span 3;
      grid-column: 3 / span 2;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      h3 {
        margin-top: 1rem;
      }
      p {
        margin-top: -1rem;
      }
    }

    &__find {
      grid-row: 3 / span 3;
      grid-column: 7 / span 4;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-top: 3rem;
      h3 {
      }
      p {
        margin-top: -0.2rem;
      }
      img {
        align-self: flex-end;
        margin-right: -3rem;
        margin-top: -1rem;
      }
    }

    &__choose {
      grid-row: 7 / span 3;
      grid-column: 5 / span 4;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      h3 {
        margin-top: 1rem;
      }
      p {
        margin-top: -0.2rem;
      }
      img {
        align-self: center;
        margin-left: 4rem;
        margin-top: -1rem;
      }
    }

    &-pink {
      grid-row: 2 / span 3;
      grid-column: 1 / span 4;
      z-index: -1;
    }
    &-orange {
      grid-row: 3 / span 4;
      grid-column: 9 / span 4;
      z-index: -1;
    }
    &-blue {
      grid-row: 6 / span 3;
      grid-column: 5 / span 4;
      z-index: -1;
    }
  }
}
