/* //////////////////////////////////////////////////////////////////////////////// 
---------------------- How two section for the Index.html ------------------------
//////////////////////////////////////////////////////////////////////////////////*/

.how {
  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: $bp-large) {
    width: 100%;
    margin: 0rem 2rem;
    overflow: hidden;
  }

  @media only screen and (max-width: $bp-medium) {
    height: 900px;
  }
  @media only screen and (max-width: $bp-xsmall) {
    margin: 0rem 0rem;
  }

  h2 {
    text-align: center;
    margin-top: 12rem;
  }

  p {
    max-width: 915px;
    text-align: center;
    margin-top: 3.4rem;

    @media screen and (max-width: $bp-large) {
      margin: 0 3rem 0 3rem;
    }
    @media screen and (max-width: $bp-medium) {
      margin: 0 3rem 0 3rem;
      margin-top: 6rem;
    }
  }

  &__steps {
    display: grid;
    grid-template-columns: repeat(12, max(100px));
    grid-template-rows: repeat(10, 70px);
    grid-column-gap: 1.5rem;
    grid-row-gap: 0rem;

    @media screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(10, 9%);
      grid-template-rows: repeat(8, 8%);
      grid-column-gap: 0rem;
    }
    h3 {
      color: $color-orange;
      text-align: left;
    }
    &-icon {
      width: 10.15rem;
      color: $color-icon-fill;
    }

    p {
      text-align: left;
    }

    &__sign-up {
      grid-row: 2 / span 3;
      grid-column: 3 / span 2;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      h3 {
        margin-top: 1rem;
      }
      p {
      }
      @media only screen and (max-width: $bp-medium) {
        grid-row: 3 / span 3;
        grid-column: 2 / span 2;

        p {
          margin-top: 0;
        }
        img {
          margin-top: 1rem;
          margin-left: auto;
        }
      }
    }

    &__find {
      grid-row: 3 / span 3;
      grid-column: 7 / span 4;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-top: 3rem;
      @media only screen and (max-width: $bp-medium) {
        grid-row: 4 / span 3;
        grid-column: 7 / span 4;
      }
      h3 {
      }
      p {
        margin-top: -0.2rem;
      }
      img {
        align-self: flex-end;
        margin-right: -3rem;
        margin-top: -1rem;
        @media only screen and (max-width: $bp-medium) {
          align-self: flex-end;
          margin-right: 0;
          margin-top: 0;
        }
      }
    }

    &__choose {
      grid-row: 7 / span 3;
      grid-column: 5 / span 4;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      @media only screen and (max-width: $bp-medium) {
        grid-column: 3 / span 6;
        grid-row: 7 / span 3;
      }
      h3 {
        margin-top: 1rem;
        @media only screen and (max-width: $bp-medium) {
          margin-top: -10rem;
        }
      }
      p {
        margin-top: -0.2rem;
        @media only screen and (max-width: $bp-medium) {
          margin-top: -9rem;
        }
      }
      img {
        align-self: center;
        margin-left: 4rem;
        margin-top: -1rem;
        @media only screen and (max-width: $bp-medium) {
          margin-top: -9rem;
        }
      }
    }

    &-pink {
      grid-row: 2 / span 3;
      grid-column: 1 / span 4;
      z-index: -1;
      @media screen and (max-width: $bp-medium) {
        grid-row: 2 / span 3;
        grid-column: 1 / span 3;
      }
    }
    &-orange {
      grid-row: 3 / span 4;
      grid-column: 9 / span 4;
      z-index: -1;

      @media screen and (max-width: $bp-medium) {
        grid-row: 4 / span 3;
        grid-column: 8 / span 3;
      }
    }
    &-blue {
      grid-row: 6 / span 3;
      grid-column: 5 / span 4;
      z-index: -1;
      @media screen and (max-width: $bp-medium) {
        grid-row: 7 / span 3;
        grid-column: 4 / span 3;
      }
      @media screen and (max-width: $bp-medium) {
        grid-row: 7 / span 3;
        grid-column: 4 / span 4;
      }
    }
  }

  @media screen and (max-width: $bp-xsmall) {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0rem;
    margin-bottom: 10rem;

    h2 {
      text-align: center;
      margin-top: 12rem;
    }

    p {
      max-width: 90%;
      text-align: center;
      margin-top: 3.4rem;
      margin-bottom: 4rem;
    }

    &__steps {
      display: flex;
      width: 100%;
      height: 600px;
      flex-direction: column;
      background-image: url(../images/svg/pink.svg);
      background-position: center;
      background-size: cover;

      h3 {
        color: $color-orange;
        text-align: center;
      }
      &-icon {
        width: 10.15rem;
        color: $color-icon-fill;
      }

      p {
        text-align: center;
      }

      &__sign-up {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h3 {
          margin-top: 1rem;
        }

        img {
          align-self: center;
          margin-left: 0rem;
        }
      }

      &__find {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 3rem;

        h3 {
        }
        p {
          margin-top: 1rem;
        }
        img {
          align-self: center;
        }
      }

      &__choose {
        display: flex;
        flex-direction: column;

        h3 {
          margin-top: 1rem;
        }
        p {
          margin-top: 1rem;
        }
        img {
          align-self: center;
          margin-top: 0rem;
        }
      }

      &-pink {
        display: none;
      }
      &-orange {
        display: none;
      }
      &-blue {
        display: none;
      }
    }
  }
}
