*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  // overflow: hidden;
}

html {
  font-size: 62.5%;
  background-color: $color-backgound;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}
body {
  overflow-x: hidden;
  // @media only screen and (max-width: $bp-medium) {
  //   margin: 0 3rem 0 3rem;
  // }
}
