/* //////////////////////////////////////////////////////////////////////////////// 
-------------------------------- HTML CSS Settings  ---------------------------------
//////////////////////////////////////////////////////////////////////////////////*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: $color-backgound;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-xsmall) {
    font-size: 40%;
  }
}

body {
  overflow-x: hidden;
}
