.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    display: flex;
    &:target {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }

    &__window {
      width: 400px;
      height: 400px;
      align-self: center;
      margin: 0 auto 0 auto;
      padding: 2rem;
      border-radius: 10px;
      background: white;
    }

  }
  