/* ------ variables ------*/
@import url("https://use.typekit.net/wvj2sos.css");
h1 {
  font-family: Acumin Pro, serif;
  font-size: 4.8rem;
  font-weight: 300;
  color: #fd6328;
}

h2 {
  font-family: Acumin Pro, serif;
  font-size: 3.4rem;
  font-weight: 400;
  color: #707070;
}

h3 {
  font-family: Acumin Pro, serif;
  font-size: 3.4rem;
  font-weight: 400;
  color: #707070;
}

h4 {
  font-family: Acumin Pro, serif;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 5rem;
  color: #f3f7fb;
}

h5 {
  font-family: Acumin Pro, serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #f3f7fb;
}

p {
  font-family: "helvetica Neue", sans-serif;
  font-size: 2rem;
  color: #707070;
}

.btn {
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-family: "helvetica Neue", sans-serif;
  cursor: pointer;
}
.btn__hero {
  background-color: #fd6328;
  color: #f3f7fb;
  font-size: 2.4rem;
  width: 32rem;
  height: 4rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
  border: 1px solid #fd6328;
  border-radius: 4px;
}
.btn__hero:hover {
  background-color: transparent;
  color: #fd6328;
}
.btn__hero:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.btn__hero:focus {
  outline: none;
  background-color: transparent;
  color: #fd6328;
}
.btn__profile {
  height: 4rem;
  background-color: #f8f8f8;
  width: 17.5rem;
  border: 1px solid #339cb1;
  color: #339cb1;
  align-self: flex-end;
  margin-top: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.btn__profile:hover {
  border: 3px solid #339cb1;
}
.btn__profile:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.btn__profile:focus {
  outline: none;
  border: 3px solid #339cb1;
  color: #fd6328;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}
.btn__form {
  width: 38rem;
  color: #fd6328;
  height: 4rem;
  margin-top: auto;
}
.btn__form:hover {
  border: 3px solid #339cb1;
}
.btn__form:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.btn__form:focus {
  outline: none;
  border: 3px solid #339cb1;
  color: #fd6328;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

.active {
  border-bottom: 2px solid #fd6328;
}

.width {
  max-width: 1366px;
  margin: 0 auto 0 auto;
}

.margin {
  margin-top: 5rem !important;
}

.img {
  width: 100%;
  object-fit: cover;
  display: block;
  background-position: center;
}

/* ------ sections ------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: #f8f8f8;
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

body {
  overflow-x: hidden;
}

.hero {
  height: 750px;
  background-image: url(../images/png/hero.png);
  background-size: 1366px;
  background-position: top center;
  position: relative;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 1fr;
}
.hero__info {
  margin-left: -60px;
  margin-top: 130px;
  height: 654px;
  width: 840px;
  background-image: url(../images/svg/blue-hero.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1400px) {
  .hero__info {
    width: 75%;
    height: 70%;
    margin-top: auto;
    margin-left: 0rem;
    background-position: left bottom;
  }
}
@media screen and (max-width: 800px) {
  .hero__info {
    width: 100%;
    height: 60%;
  }
}
@media screen and (max-width: 600px) {
  .hero__info {
    height: 100%;
    background-image: none;
    background-color: #a5d4e2ef;
    display: flex;
    flex-direction: column;
  }
}
.hero__info img {
  margin-left: 6rem;
  margin-top: 10rem;
  max-width: 52.6rem;
}
@media screen and (max-width: 1400px) {
  .hero__info img {
    margin-left: 4rem;
    margin-top: 6rem;
    max-width: 50rem;
  }
}
@media screen and (max-width: 900px) {
  .hero__info img {
    margin-top: 15%;
  }
}
@media screen and (max-width: 800px) {
  .hero__info img {
    margin-top: 10%;
  }
}
.hero__info h4 {
  margin-left: 6rem;
  margin-top: 6rem;
  max-width: 62.2rem;
}
@media screen and (max-width: 1400px) {
  .hero__info h4 {
    margin-left: 3rem;
    margin-top: 4rem;
    max-width: 63rem;
  }
}
.hero__info button {
  margin-left: 6.7rem;
  margin-top: 2.6rem;
}

.footer {
  margin-top: -2rem;
  height: 25rem;
  background-color: #2b2b2b;
  color: #f3f7fb;
  z-index: 10;
}
.footer__logo img {
  align-self: center;
}
.footer__items {
  max-height: 20rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 2rem;
}
@media screen and (max-width: 1400px) {
  .footer__items {
    margin: 0 3rem 0 3rem;
  }
}
.footer__items__contact {
  margin-top: auto;
  margin-bottom: auto;
}
.footer__items__contact-header {
  text-transform: uppercase;
  margin-bottom: 3.5rem;
}
.footer__items__contact-link {
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
}
.footer__items__contact-link:hover, .footer__items__contact-link:active {
  color: #fd6328;
  border-bottom: 1px solid #fd6328;
}
.footer__items__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__items__middle-logo {
  margin-bottom: 5rem;
}
.footer__items__middle-social {
  margin-bottom: 5rem;
}
.footer__items__middle-social a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}
.footer__items__middle-social a:hover {
  color: #339cb1;
  font-size: 2.5rem;
}
.footer__items__middle-social a.fa-twitter {
  margin: 0 3rem 0 3rem;
}
.footer__items__middle-copywrite {
  text-align: center;
}
.footer__items__middle-copywrite-copy {
  font-size: 0.8rem;
}
.footer__items__jobs {
  margin-top: auto;
  margin-bottom: auto;
  text-align: end;
}
.footer__items__jobs-header {
  text-transform: uppercase;
  margin-bottom: 3.5rem;
}

.how {
  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .how {
    width: 100%;
    margin: 0rem 2rem 0 2rem;
    overflow: hidden;
  }
}
@media only screen and (max-width: 900px) {
  .how {
    height: 900px;
  }
}
.how h2 {
  text-align: center;
  margin-top: 12rem;
}
.how p {
  max-width: 915px;
  text-align: center;
  margin-top: 3.4rem;
}
@media screen and (max-width: 1400px) {
  .how p {
    margin: 0 3rem 0 3rem;
  }
}
@media screen and (max-width: 900px) {
  .how p {
    margin: 0 3rem 0 3rem;
    margin-top: 6rem;
  }
}
.how__steps {
  display: grid;
  grid-template-columns: repeat(12, minmax(100px));
  grid-template-rows: repeat(10, 70px);
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
}
@media screen and (max-width: 900px) {
  .how__steps {
    grid-template-columns: repeat(10, 9%);
    grid-template-rows: repeat(8, 8%);
    grid-column-gap: 0rem;
  }
}
.how__steps h3 {
  color: #fd6328;
  text-align: left;
}
.how__steps-icon {
  width: 10.15rem;
  color: #339cb1;
}
.how__steps p {
  text-align: left;
}
.how__steps__sign-up {
  grid-row: 2/span 3;
  grid-column: 3/span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.how__steps__sign-up h3 {
  margin-top: 1rem;
}
@media only screen and (max-width: 900px) {
  .how__steps__sign-up {
    grid-row: 3/span 3;
    grid-column: 2/span 2;
  }
  .how__steps__sign-up p {
    margin-top: 0;
  }
  .how__steps__sign-up img {
    margin-top: 1rem;
    margin-left: auto;
  }
}
.how__steps__find {
  grid-row: 3/span 3;
  grid-column: 7/span 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 3rem;
}
@media only screen and (max-width: 900px) {
  .how__steps__find {
    grid-row: 4/span 3;
    grid-column: 7/span 4;
  }
}
.how__steps__find p {
  margin-top: -0.2rem;
}
.how__steps__find img {
  align-self: flex-end;
  margin-right: -3rem;
  margin-top: -1rem;
}
@media only screen and (max-width: 900px) {
  .how__steps__find img {
    align-self: flex-end;
    margin-right: 0;
    margin-top: 0;
  }
}
.how__steps__choose {
  grid-row: 7/span 3;
  grid-column: 5/span 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media only screen and (max-width: 900px) {
  .how__steps__choose {
    grid-column: 3/span 6;
    grid-row: 7/span 3;
  }
}
.how__steps__choose h3 {
  margin-top: 1rem;
}
@media only screen and (max-width: 900px) {
  .how__steps__choose h3 {
    margin-top: -10rem;
  }
}
.how__steps__choose p {
  margin-top: -0.2rem;
}
@media only screen and (max-width: 900px) {
  .how__steps__choose p {
    margin-top: -9rem;
  }
}
.how__steps__choose img {
  align-self: center;
  margin-left: 4rem;
  margin-top: -1rem;
}
@media only screen and (max-width: 900px) {
  .how__steps__choose img {
    margin-top: -9rem;
  }
}
.how__steps-pink {
  grid-row: 2/span 3;
  grid-column: 1/span 4;
  z-index: -1;
}
@media screen and (max-width: 900px) {
  .how__steps-pink {
    grid-row: 2/span 3;
    grid-column: 1/span 3;
  }
}
.how__steps-orange {
  grid-row: 3/span 4;
  grid-column: 9/span 4;
  z-index: -1;
}
@media screen and (max-width: 900px) {
  .how__steps-orange {
    grid-row: 4/span 3;
    grid-column: 8/span 3;
  }
}
.how__steps-blue {
  grid-row: 6/span 3;
  grid-column: 5/span 4;
  z-index: -1;
}
@media screen and (max-width: 900px) {
  .how__steps-blue {
    grid-row: 7/span 3;
    grid-column: 4/span 3;
  }
}
@media screen and (max-width: 900px) {
  .how__steps-blue {
    grid-row: 7/span 3;
    grid-column: 4/span 4;
  }
}

.nav {
  height: 7rem;
  background-color: #a5d4e2ef;
  width: 100%;
  position: fixed;
  z-index: 15;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-bar img {
  height: 4rem;
}
.nav-bar__logo {
  color: #339cb1;
  text-align: center;
  margin-left: 0.5rem;
  margin-top: 1.5rem;
}
.nav-bar__items {
  display: flex;
  margin-top: 1rem;
}
.nav-bar__items ul {
  font-family: "helvetica Neue", sans-serif;
  list-style: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  display: flex;
  align-self: center;
}
.nav-bar__items ul li a {
  color: #339cb1;
  text-decoration: none;
  margin-right: 2.4rem;
  transition-duration: 0.2s;
}
.nav-bar__items ul li a:hover {
  border-bottom: 2px solid #fd6328;
}
.nav-bar__items-search {
  height: 5rem;
  align-self: center;
  margin-right: 2.4rem;
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
}
.nav-bar__items-search input {
  width: 12rem;
  height: 3.5rem;
  align-self: center;
  color: #339cb1;
  border: 1px solid #fff;
  border-radius: 4px 0 0 4px;
  background: none;
}
.nav-bar__items-search input:focus {
  outline: none;
  border: 1.5px solid #339cb1;
}
.nav-bar__items-search-icon {
  margin-top: 0.65rem;
  display: flex;
  cursor: pointer;
  height: 3.5rem;
  width: 6rem;
  font-size: 1.6rem;
  color: #339cb1;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0 4px 4px 0;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.nav-bar__items ::placeholder {
  color: #339cb1;
  opacity: 0.7;
}
.nav-bar__items-icon {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.contact-us {
  margin-top: 3rem;
  width: 100%;
  height: 746px;
  background-image: url(../images/svg/example-backgroud.svg);
  background-size: cover;
  background-repeat: none;
  background-position-x: center;
  padding-top: 10rem;
}
.contact-us h1 {
  text-align: center;
  font-size: 7rem;
  font-weight: 300;
  margin-bottom: 9rem;
}

.example {
  width: 100%;
  height: 800px;
  background-image: url(../images/svg/example-backgroud.svg);
  background-size: cover;
  background-repeat: none;
  background-position-x: center;
}
@media only screen and (max-width: 900px) {
  .example {
    height: 750px;
  }
}
.example h1 {
  text-align: center;
  font-size: 8rem;
  padding-top: 8rem;
}
@media only screen and (max-width: 900px) {
  .example h1 {
    padding-bottom: 6rem;
  }
}
.example__profile {
  max-width: 936px;
  display: flex;
  margin: 8rem auto 0 auto;
  align-self: flex-end;
}
@media only screen and (max-width: 900px) {
  .example__profile {
    margin: 0 3rem 0 3rem;
  }
}
.example__profile-bio {
  max-width: 480px;
  margin-right: 2rem;
}
.example__profile-header {
  display: flex;
  border-bottom: 1px solid #707070;
}
.example__profile-header img {
  width: 10rem;
  height: 10rem;
  align-self: flex-start;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.example__profile-header-name {
  margin-right: 12rem;
}
.example__profile-statment {
  border-bottom: 1px solid #707070;
}
.example__profile-statment h3 {
  margin-bottom: 1.5rem;
}
.example__profile-statment p {
  margin-bottom: 1.5rem;
}
.example__profile-achivement-header {
  font-size: 2.4rem;
  margin: 1.5rem 0 1.5rem 0;
}
.example__profile-hero {
  max-width: 683px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 900px) {
  .example__profile-hero {
    max-width: 45%;
  }
}
.example__profile-hero-img {
  border: 1px solid #707070;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

/* ----- Components ----- */
.form {
  display: flex;
}
.form__box {
  display: flex;
  margin: 0 auto 0 auto;
}
.form input,
.form textarea {
  border: 4px solid #fd6328;
  background-color: #f8f8f8;
  border-radius: 8px;
  font-size: 2rem;
  font-family: "helvetica Neue", sans-serif;
}
.form input:focus,
.form textarea:focus {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border: 3px solid #a5d4e2;
}
.form input:focus:invalid,
.form textarea:focus:invalid {
  border: 3px solid red;
}
.form__inputs {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.form__input {
  position: relative;
}
.form__input-name, .form__input-email {
  height: 5rem;
  width: 35rem;
  color: #707070;
  padding-left: 3rem;
  margin-bottom: 3rem;
}
.form__icon {
  height: 2rem;
  position: absolute;
  margin-left: -4rem;
  margin-top: 1.5rem;
}
.form__text-area {
  margin-left: 13rem;
}

/*# sourceMappingURL=style.css.map */
