/* ------ variables ------*/
@import url("https://use.typekit.net/wvj2sos.css");
h1 {
  font-family: Acumin Pro, serif;
  font-size: 4.8rem;
  font-weight: 300;
  color: #fd6328;
}

h2 {
  font-family: Acumin Pro, serif;
  font-size: 3.4rem;
  font-weight: 400;
  color: #707070;
}

h3 {
  font-family: Acumin Pro, serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: #707070;
}

h4 {
  font-family: Acumin Pro, serif;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 5rem;
  color: #f3f7fb;
}

h5 {
  font-family: Acumin Pro, serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: #f3f7fb;
}

p {
  font-family: "helvetica Neue", sans-serif;
  font-size: 2rem;
  color: #707070;
}

.btn {
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-family: "helvetica Neue", sans-serif;
}
.btn__hero {
  background-color: #fd6328;
  color: #f3f7fb;
  font-size: 2.4rem;
  width: 32rem;
  height: 4rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
  border: 1px solid #fd6328;
  border-radius: 4px;
}
.btn__hero:hover {
  background-color: transparent;
  color: #fd6328;
}
.btn__hero:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.btn__hero:focus {
  outline: none;
  background-color: transparent;
  color: #fd6328;
}

.active {
  border-bottom: 2px solid #fd6328;
}

/* ------ sections ------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: #f8f8f8;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1366px;
  height: 750px;
  background-image: url(../images/png/hero.png);
  background-size: 1366px;
  background-position: top center;
  position: relative;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.hero__info {
  margin-left: -60px;
  margin-top: 130px;
  height: 654px;
  width: 840px;
  background-image: url(../images/svg/blue-hero.svg);
  background-size: contain;
  background-repeat: none;
  display: flex;
  flex-direction: column;
}
.hero__info img {
  margin-left: 6rem;
  margin-top: 10rem;
  max-width: 52.6rem;
}
.hero__info h4 {
  margin-left: 6rem;
  margin-top: 6rem;
  max-width: 62.2rem;
}
.hero__info button {
  margin-left: 6.7rem;
  margin-top: 2.6rem;
}

.how {
  max-width: 1366px;
  height: 1100px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how h2 {
  text-align: center;
  margin-top: 12rem;
}
.how p {
  max-width: 915px;
  text-align: center;
  margin-top: 3.4rem;
}
.how__steps {
  display: grid;
  grid-template-columns: repeat(12, 100px);
  grid-template-rows: repeat(10, 70px);
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
}
.how__steps h3 {
  color: #fd6328;
  text-align: left;
}
.how__steps img {
  width: 10.15rem;
  color: #339cb1;
}
.how__steps p {
  text-align: left;
}
.how__steps__sign-up {
  grid-row: 2/span 3;
  grid-column: 3/span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.how__steps__sign-up h3 {
  margin-top: 1rem;
}
.how__steps__sign-up p {
  margin-top: -1rem;
}
.how__steps__find {
  grid-row: 3/span 3;
  grid-column: 7/span 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 3rem;
}
.how__steps__find p {
  margin-top: -0.2rem;
}
.how__steps__find img {
  align-self: flex-end;
  margin-right: -3rem;
  margin-top: -1rem;
}
.how__steps__choose {
  grid-row: 7/span 3;
  grid-column: 5/span 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.how__steps__choose h3 {
  margin-top: 1rem;
}
.how__steps__choose p {
  margin-top: -0.2rem;
}
.how__steps__choose img {
  align-self: center;
  margin-left: 4rem;
  margin-top: -1rem;
}

.nav {
  height: 7rem;
  background-color: #a5d4e2ef;
}
.nav-bar {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1366px;
  flex-direction: row;
  justify-content: space-between;
}
.nav-bar img {
  height: 4rem;
}
.nav-bar__logo {
  color: #339cb1;
  text-align: center;
  margin-left: 0.5rem;
  margin-top: 1.5rem;
}
.nav-bar__items {
  display: flex;
  margin-top: 1rem;
}
.nav-bar__items ul {
  font-family: "helvetica Neue", sans-serif;
  list-style: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  display: flex;
  align-self: center;
}
.nav-bar__items ul li a {
  color: #339cb1;
  text-decoration: none;
  margin-right: 2.4rem;
  transition-duration: 0.2s;
}
.nav-bar__items ul li a:hover {
  border-bottom: 2px solid #fd6328;
}
.nav-bar__items-search {
  height: 5rem;
  align-self: center;
  margin-right: 2.4rem;
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
}
.nav-bar__items-search input {
  width: 12rem;
  height: 3.5rem;
  align-self: center;
  color: #339cb1;
  border: 1px solid #fff;
  border-radius: 4px 0 0 4px;
  background: none;
}
.nav-bar__items-search input:focus {
  outline: none;
  border: 1.5px solid #339cb1;
}
.nav-bar__items-search-icon {
  margin-top: 0.65rem;
  display: flex;
  cursor: pointer;
  height: 3.5rem;
  width: 6rem;
  font-size: 1.6rem;
  color: #339cb1;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0 4px 4px 0;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.nav-bar__items ::placeholder {
  color: #339cb1;
  opacity: 0.7;
}
.nav-bar__items-icon {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

/* ----- Components ----- */

/*# sourceMappingURL=style.css.map */
